<section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg">
                <!-- <img src="assets/audi1.jpg" alt=""> -->
            </div>
            <div id="player_sec">
                <vg-player>
                    <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                        <vg-play-pause></vg-play-pause>
                        <vg-time-display></vg-time-display>
                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>
                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                    <vg-buffering></vg-buffering>
                    <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="vidURL" autoplay="true"
                        vg-responsive="true" type="video/mp4">

                    </video>
                </vg-player>
            </div>
        </div>
    </div>
</section>
<!-- <span id="back">
    <a class="nav-link sign" style="z-index: 9999;" routerLink="/lobby" title="Logout" role="button">
        BACK</a>
  </span> -->
<div class="rightMenu">


<ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".ballroomQuestionModal"><img width="40px" src="assets/chat-h.png" alt="">
                <div>Ask Question</div>
            </a>
        </li>
        
    </ul>
<!-- <ul class="list-unstyled">
         <div id="clap">
            <audio id="myAudioClap">
                <source src="assets/img/applause.wav" type="audio/wav">
                <source src="assets/img/applause.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <a (click)="playAudioClap()" type="button">
                <img style="width: 44px;" src="assets/img/hand.png" alt="">
            </a>
        </div>
    </ul> -->
<!-- <ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".quizModal"><img src="assets/icons/first-floor-h.png" alt="">
                <div>Quiz</div>
            </a>
        </li>
    </ul> -->
<ul class="list-unstyled">
        <li>
            <a (click)="openGroupChat()"><img width="40px" src="assets/icons/chat-h.png" alt="">
                <div>Group Chat</div>
            </a>
        </li>
    </ul>
<!-- <ul class="list-unstyled">
              <li>
                  <a data-toggle="modal" data-target=".pollModal"><img src="assets/icons/navigation-h.png" alt="">
                      <div>Poll</div>
                  </a>
              </li>
          </ul> -->
          <ul class="list-unstyled">
            <li> <a (click)="likeopen();stepUpAnalytics('click_fbconference')"><img src="assets/fb.png" style="width: 60px !important;" alt="">
                </a>
            </li>
        </ul>
<!-- <ul class="list-unstyled">
              <li> <a data-toggle="modal" data-target=".feebackModal"><img src="assets/icons/contact-h.png" alt="">
                      <div>Feedback</div>
                  </a>
              </li>
          </ul> -->

</div>

<!-- groupchatOne Modal -->
<div class="modal fade groupchatOne" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Group Chat</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <h6 style="text-align: center;"></h6>
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message" #scroller [scrollTop]="scroller.scrollHeight">
                                                <li class="user-profile-row" *ngFor="let user of messageList"
                                                    id="user_row_500">
                                                    <div class="user-profile-data">
                                                        <div class="user-profile-image"> <img
                                                                class="img-responsive user-profile-img"
                                                                src="assets/icons/profile.svg" width="32">
                                                        </div>
                                                        <div class="user-profile-info">
                                                            <p class="user-profile-name"><a
                                                                    href="javascript:void(0);">{{user.user_name}}</a>
                                                            </p>
                                                            <p class="user-profile-company">{{user.chat_data}}</p>
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="message_input">
                                            <textarea name="message" autocomplete="off"
                                                placeholder="Chat will be shown after moderation"
                                                [formControl]="textMessage"
                                                (keyup.enter)="postMessage(textMessage.value)" maxlength="200"
                                                type="text" id="query" value=""></textarea>
                                        </div>
                                        <button type="submit" class="btn borderBtn SubmitBut"
                                            style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                                            (click)="postMessage(textMessage.value)">Send</button>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: red;">
    <div class="row">
      <div class="animation-part">
        <section class="sticky">
    <div class="bubbles" *ngIf="like">
        <div class="bubble"> <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/like.png" alt="" srcset=""> </div>
        <div class="bubble"> <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/like.png" alt="" srcset=""> </div>
        <div class="bubble"> <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/like.png" alt="" srcset=""> </div>
      <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
      <div class="bubble"></div>
      <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
      <div class="bubble"></div>
      <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
      <div class="bubble"></div>
      <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
      <div class="bubble"><img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/like.png" alt="" srcset=""></div>
      <div class="bubble"><img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/like.png" alt="" srcset=""></div>
      
    </div>
  </section>
      </div>
    </div>
  </div>