<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../../../assets/video/to_right_Auditorium.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<span id="skip" *ngIf="networkingLounge">
    <a class="nav-link sign" (click)="skipButton()" title="SKIP" role="button">
        SKIP</a>
  </span>
  <span id="skip" *ngIf="exhibitionHall">
    <a class="nav-link sign" (click)="skipButton3()" title="SKIP" role="button">
        SKIP</a>
  </span>
<section>
    <!-- <div style="position: absolute;top: 10%; right: 1%;z-index: 1000;">
        <audio id="myAudioWhistle">
            <source src="assets/img/applause.wav" type="audio/wav">
            <source src="assets/img/whistle.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <a (click)="playAudioWhistle()" type="button">
            <img src="../../../../../assets/img/whistle.png" alt="">
            <span class="handimg"></span>
        </a>
    </div> -->
        <!-- <div id="clap">
            <audio id="myAudioClap">
                <source src="assets/img/applause.wav" type="audio/wav">
                <source src="assets/img/applause.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <a (click)="playAudioClap()" type="button">
                <img src="../../../../../assets/img/hand.png" alt="">
                <span class="handimg"></span>
            </a>
        </div> -->
        <div id="content">
            <div id="content_wrap">
            <div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">

                <div id="bg">
                    <img src="assets/best_practice.jpg" alt="">
                </div>
                <div class="reception" (click)="enterKeyPortfolio();stepUpAnalytics('click_hall2')">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div>
                <div class="reception2" (click)="enterKeyPortfolio2();stepUpAnalytics('click_hall1')">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div [ngStyle]="{'display':exhibitionHall ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="exhibitvideo" preload="auto" class="videoBg" (ended)="gotoExhibitionHallOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/baxter/hall2.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="netLoungevideo" preload="auto" class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/baxter/hall1.mp4" type="video/mp4">
    </video>
</div>