<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="bg"></div> -->
<!-- <div style="position: relative;  top: -63%;  left: 24%;">
  <vg-player  [ngStyle]="{'width': '14.5%'}"> 
    <vg-controls [vgAutohide]="true" [vgAutohideTime]="1">

      <vg-play-pause></vg-play-pause>
      <vg-time-display ></vg-time-display>
     
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen ></vg-fullscreen>
    </vg-controls>
    <vg-buffering></vg-buffering>
    <video #myMedia [vgMedia]="myMedia"
    preload="auto"  autoplay="true"
     vg-responsive="true"
    type="video/mp4" [src]="exhibiton.video" >
  
    </video>
</vg-player>
</div> -->
<span id="back">
  <a class="nav-link sign" routerLink="/exhibitionHall" title="Logout" role="button">
    BACK</a>
</span>

<!-- <div id="light">
  <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
  <video id="VisaChipCardVideo" [src]="exhibiton.video"  width="600" controls>
  </video>
</div>
<div id="fade" (click)="lightbox_close();"></div> -->

<!-- <div class="chats" title="Chat with booth staff">
  <div class="pulsating-circle" data-toggle="modal" data-target=".liveQuestionModal"></div>
</div> -->
<!-- <div class="docs" title="Show Documents">
  <div class="pulsating-circle" data-toggle="modal" data-target=".docsModal"></div>
</div> -->
<!-- <div class="call" title="Schedule a call" (click)="openCallBox()">
  <div class="pulsating-circle" ></div>
</div> -->
<!-- <div class="info" title="Sales info">
  <div class="pulsating-circle" data-toggle="modal" data-target=".salesModal"></div>
</div> -->
<section>
  <div class="content-wrap">
    <div class="bg_img">
      <img src="assets/serdia_cardio/treatment_awareness.jpg" alt="">
    </div>
    <div class="video" title="Play Video">
      <div class="pulsating-circle" (click)="playGrowBySharingVideo();"></div>
    </div>
  </div>
</section>
<div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">sales information</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">

                  <div class="col-md-6">
                    <div class="profile-card">
                      <figure>
                        <i class="fa fa-user"></i>
                      </figure>
                      <h3>{{exhibiton.salesman}}</h3>
                      <table class="table">
                        <tbody>
                          <tr>
                            <td><i class="fa fa-id-badge"></i>{{exhibiton.sales_position}}</td>
                          </tr>
                          <tr>
                            <td><i class="fa fa-envelope"></i>{{exhibiton.salesman_email}}</td>
                          </tr>
                          <tr>
                            <td><i class="fa fa-mobile"></i>{{exhibiton.phone}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>





                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Document Modal -->
<div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">Resources</h6>
                <a class="close" (click)="closePopupdocs()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <ul class="chat_message">
                        <li class="chat_messageList" *ngFor="let docs of documents">
                          <div (click)="getDocument('./assets/img/achive.pdf')">
                            <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>
                            <p>
                              <span class="person">
                                <a nhref download class="checkProfile"> {{docs.title}}</a>
                              </span>

                            </p>

                            <span>
                              <div class="float-right" title="View PDF"> <img src="./assets/img/view.png" alt="" style="width: 30px;
                                  margin-top: -19px; cursor: pointer;"></div>
                            </span>
                          </div>
                        </li>

                        <hr>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- LiveQuestion Modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>May I Help You?</h6>
                <a class="close" (click)="closeChat()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <h6 style="text-align: center;" *ngIf="msg">{{msg}}</h6>
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <ul class="chat_message">
                        <li class="chat_messageList" *ngFor="let qa of qaList">
                          <div class="img_avatar"> <img src="../assets/default_avatar.png" alt=""></div>
                          <p>
                            <span class="person">
                              <a href="javascript:void(0);" class="checkProfile">{{qa.question}}</a>
                            </span>
                            <!-- <span class="time">{{chat.created | date: 'medium'}}</span> -->
                          </p>
                          <!-- <div class="img_avatar"> <img src="../../../assets/default_avatar.png" alt=""></div> -->
                          <div class="text_message"> <img src="../assets/img/customer_support.png" *ngIf="qa.answer"
                              alt="" height="25px" width="20px"> &nbsp; &nbsp;{{qa.answer}}</div>
                        </li>
                      </ul>
                    </div>
                    <div class="message_input">
                      <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage"
                        (keyup.enter)="postQuestion(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                    </div>
                    <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                      (click)="postQuestion(textMessage.value)">Submit</button>
                  </div>
                  <!-- <div class="col-md-1 col-xl-1">
                      <div class="online_chat"></div>
                    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade pdfModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>{{documentName}}</h6>
                <a class="close" (click)="closepdf()"></a>
              </div>
              <iframe [src]="document" style="width:100%; height:520px" frameborder='0'>This is an embedded <a target='_blank'
                  href='http://office.com'>Microsoft
                  Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div> -->
      <div class="modal-body p-0">
        <div id="modal-video">
          <div id="closePopup" (click)="closeModalVideo()">&times;</div>
          <video id="video" preload="auto" src="../../../../assets/serdia_myanmar/videos/exhibition_stalls/Dare_to_Innovate.mp4"
            width="100%" controls>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>