<!-- <div id="demo" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <ng-container *ngFor="let pix of data">
    <div class="carousel-item" [ngClass]="{'active': pix.id === 326}">
      <img src="{{pix.image}}" alt="Los Angeles" width="1100" height="500">
    </div>
    </ng-container>
  </div>
  
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div> -->
<span id="back">
  <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
      BACK</a>
</span>
<div class="text-center" style="overflow-y: scroll;width: 100%;background-size: cover; height: inherit;background-image: url('../../../assets/gallery.jpg');" >

  <ul class="list-inline">
    <ng-container *ngFor="let pix of data">
      <li><a data-slide-to="0"><img class="img-thumbnail" src="{{pix.image}}" data-toggle="modal" data-target=".myModal" style="cursor: pointer; height:200px;width:250px; margin:5px 0 5px 0;"></a></li>
    </ng-container>
  </ul>

  <!--modal body-->
  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" title="Close">
            <span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="modal-body">

          <div id="myGallery" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <ng-container *ngFor="let pix of data">
              <div class="carousel-item" [ngClass]="{'active': pix.id === 326}">
                <img src="{{pix.image}}" alt="item1" style="height:400px;width:auto;">
              </div>
              </ng-container>
            </div>
            <a class="carousel-control-prev" href="#myModal" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myModal" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>

        </div>
        <div class="modal-footer">
          <div class="pull-left">

          </div>
          <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->
  <!-- modal exit -->
  <div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>GALLERY</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                  <div id="myGallery" class="carousel slide" data-ride="carousel">

                                    <!-- The slideshow -->
                                    <div class="carousel-inner">
                                      <ng-container *ngFor="let pix of data">
                                      <div class="carousel-item" [ngClass]="{'active': pix.id === 326}">
                                        <img src="{{pix.image}}" alt="Los Angeles">
                                      </div>
                                    </ng-container>
                                    </div>
                                    
                                    <!-- Left and right controls -->
                                    <a class="carousel-control-prev" href="#myGallery" data-slide="prev">
                                      <span class="carousel-control-prev-icon"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#myGallery" data-slide="next">
                                      <span class="carousel-control-next-icon"></span>
                                    </a>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>