<div class="container-fluid" id="popup">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="quiz_section">
                <div class="popup_header">
                    <h6>{{quizStatus}}</h6>
                    <a class="close" (click)="closePopup()"></a>
                </div>

                <div class="container-fluid" style="background: #f2f4f7;">
                    <div class="row pt-2">
                        <div class="container-fluid">
                            <div class="row">

                                <div class="col-sm-12 col-md-12 col-xl-12">
                                    <div *ngIf="!liveMsg">
                                        <div class="alert alert-success" role="alert">
                                            There is no quiz to show now !!
                                        </div>
                                    </div>
                                    <div *ngIf="liveMsg">
                                        <div class="text-center" *ngIf="!summaryBoolean">
                                            <div class="quiz" *ngFor="let quiz of quizlist; let i=index;">
                                                <div *ngIf="i === index">
                                                    <div id="quizQuestion">
                                                        <span style="font-size:16px;">{{i+1}}.</span> {{quiz.question}}
                                                    </div>
                                                    <ul id="list">
                                                        <!-- <li *ngFor="let option of quiz.options; let j = index"
                                                            (click)="nextQuestion(i, j, quiz, option)">
                                                            <div class="listOption"
                                                                [ngStyle]="{'background':(option === quiz.correct_answer)? color : (j === optionIndex)? 'red': noColor }">
                                                                {{option}}</div>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center" *ngIf="summaryBoolean">
                                            <div class="quiz pl-2 pr-2">
                                                <div id="quizQuestion" style="background: #644393">
                                                    Thanks for taking {{summaryList.length}} questions of Quiz.
                                                </div>
                                                <div class="p-5">
                                                    <ul id="list" class="p-5">
                                                        <li>
                                                            <div class="listOption" style="background: #da3a8a">
                                                                Congratulations!! your Score
                                                                is {{correctAnsCount}} / {{summaryList.length}}.
                                                                <p class="pt-2">Thank You!</p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>